
  
  #cards-2-2{
    width:100%;
    
}
.playBoard{
  background-color: rgb(151, 192, 206);
  width:26em;
  height:18em;
  margin:2em auto;
}
.number , .matchedNumber{
    position:absolute;
    width:100%;
    height:6em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

  .number{
	background-color: #ccc;
	border-radius: .2em;
    border:2px solid black;
    margin-left:-6em;
    transform: rotateY(180deg);
    height:7.2em;
  }


  .flip-card{
    width:42%;
    height:6em;
    margin:1em;
    display:inline-block;
    background-color: transparent;
}
 .flip-class-outer .eachNumber
 {

     transform: rotateY(180deg);
 }
 .matched-cards .eachNumber
 {
     transform: rotateY(180deg);
 }
 .matched-cards .eachNumber img{
  opacity: 0.3;
 }
 .eachNumber{
    position: relative;
    width: 100%;
    text-align: center;
    transition: transform .5s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 }
  .flip-card .flip-class-outer>img{
     margin-left:10em
 }
  .matchedNumber{
	background-color: #333;
	font-size: large;
    border-radius: .2em;	
  }

