
  #gameTitle{
	text-align: center;
  }
  .container-fluid{
	background-image: url(./img/drawings.png);
}
  .containers{
	width:90%;
	background-color: rgb(120,173,191); 
	margin:0 auto;
	border-radius: .5em;	
  }
  .number{
	width:100%;
	height:4.2em;
	background-color: #eee;/* old >>> #ccc ... edit 2 >>> #eee */

	font-size: large;
	border-radius: .2em;
	box-shadow: .6em .6em -.5em #888;
	
  }
  @font-face{
	font-family:"MisterVampire";
	src:url("./fonts/MISTV___.TTF");
	
  }
  @font-face{
	font-family:"Burnstown Dam";
	src:url("./fonts/burnstown dam.ttf");
	
  }
  .number span,.number h6{
	display: inline-block;
	margin:10% 35%;
	color: rgb(68, 141, 165);
	font:3em  'Showcard Gothic' ,'Comic Sans MS'  ; 
	font-weight: bold
  }
  .number h6{
	color:rgb(237,207,0);
	font:1em 'Comic Sans MS';
  }
   .eachNumber:nth-child(1) span{
	color:rgb(237,207,0);

  }
  .eachNumber:nth-child(2) span{
	color:rgb(229,69,67);
  }
  .eachNumber:nth-child(3) span{
	color:rgb(92,96,148);
  }
  .eachNumber:nth-child(4) span{
	color:rgb(251,127,0);
  }
  .eachNumber:nth-child(5) span{
	color:rgb(159,181,0);
  }
  .eachNumber:nth-child(7) span{
	color:rgb(113,30,91);
  }
  .eachNumber:nth-child(8) span{
	color:rgb(253,9,113);
  }
  .eachNumber:nth-child(9) span{
	color:rgb(70,75,136);
  }
  .eachNumber:nth-child(10) span{
	color:rgb(68, 141, 165);
  }
  .eachNumber:nth-child(11) span{
	color:rgb(237,207,0);
  }

  .matchedNumber{
	width:100%;
	height:4.8em;
	background-color: #333;
	font-size: large;
	border-radius: .2em;
	
  }
  .up{
	border-right:.2em solid white;
	border-bottom:.2em solid white;
	-webkit-box-shadow:inset .3em .3em 0em .3em #555; 
	 -moz-box-shadow:inset .3em .3em 0em .3em #555; 
	box-shadow:inset .3em .3em 0em .3em #555;
  }
  .down{
	border-right:.2em solid white;
	border-top:.2em solid white;
	 -webkit-box-shadow:inset  .3em -.3em 0em .3em #555;  
	-moz-box-shadow:inset  .3em -.3em 0em .3em #555;
	box-shadow:inset .3em -.3em 0em .3em #555;
  }
  .eachNumber{
	margin:.8em;
	display:inline-block
  }
  .objects{
	background-color: white;
	margin:.1em auto;
  }
  #pencilPlace div.pencil {
    display: inline-block;
	width:1.3em;
	margin-top:1em;
	margin-right:1em;
  }
  #pencilPlace div.pencil-top {
    height: .5em;
    background-color: #ec8787;
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
}
#pencilPlace div .pencil-body {
    height: 4.8em;
    background: #FFEB3B;
}
#pencilPlace div .pencil-bottom {
	border-top: .7em solid #444;
    border-left: .6em solid transparent;
    border-right: .6em solid transparent;
}

.matchedNumber .pencil{
	display: inline-block;
	width:.5em;
	margin-top:.3em;
	margin-right:.08em;
	margin-left: .08em;
}
.matchedNumber .pencil-top {
	
    height: .3em;
    background-color: #ec8787;
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
}
.matchedNumber  .pencil-body {
	height: 3.5em;
    background: #FFEB3B;
}
.matchedNumber  .pencil-bottom {
    border-top: .5em solid #FFCC99;
    border-left: .2em solid transparent;
    border-right: .2em solid transparent;
}


@keyframes example {
	from {height:6.5em;}
	to {height:0px ;}
  }
 
  .popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
	visibility: hidden;
	width: 160px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 4;
	bottom: 100%;
	left: 50%;
	margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
	from {opacity: 0;} 
	to {opacity: 1;}
  }
  
  @keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
  }
 